* {
  box-sizing: border-box;
}
body {
}
.app {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 1em;
  border-radius: 10px;
  background: rgb(219, 219, 219);
  /* box-shadow: 10px 10px 5px rgba(73, 73, 73, 0.4),
    -10px -10px 5px rgba(73, 73, 73, 0.4); */
}

.header-div {
  display: flex;
  align-items: baseline;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px 10px 0 0;
}

.header-img {
  margin-right: 10px;
}

.header-info {
  margin-left: auto;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  padding: 1em;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}
.image--container {
  height: fit-content;
  text-align: center;
  position: relative;
}
.meme--image {
  max-width: 100%;
  border-radius: 10px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.top--text {
  top: 0;
}

.bottom--text {
  bottom: 0;
}
